[user]
	name = c000
	email = c000@users.noreply.github.com
[push]
	default = simple
	useForceIfIncludes = true
[alias]
	l = log --graph --oneline
	la = log --graph --oneline --all
	pushf = push --force-with-lease
	b = show-branch --color=always
	difft = -c diff.external=difft diff
	logt = -c diff.external=difft log --ext-diff --patch
	showt = -c diff.external=difft show --ext-diff
[pull]
	ff = only
[checkout]
	guess = true
[diff]
	colorMoved = zebra
[merge]
	conflictStyle = diff3
[fetch]
	prune = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
